 <head>
    <title>PROXY WEBUI</title>
  </head>
  <body>
<% @responses.each do |status| %>
Name: <br />
<tr>
   <td><%= status.uuid %></td>
</tr>
<% end %>

    <br><a href="/">Click here to get back to the main page.</a>
  </body>


 <% buffer.each do |task| %>
      <%= task.uuid %><br>
    <% end %>






