<head>
  <title>PROXY WEBUI</title>
</head>
<body>
List of responses: 
<table BORDER="1">
<tr>
      <th>UUID</th>
      <th>Method</th>
      <th>Action</th>
      <th>Response</th>
</tr>
<% responses.each do |item| %>
<tr>
    <td><%= item.uuid %> </td> 
    <td><%= item.method %> </td>
    <td><%= item.query %> </td>
    <td><%= item.response %> </td>
</tr> <br>
<% end %>
</table>
<br><a href="/">Click here to get back to the main page.</a>
</body>


 





