<html>
  <head>
    <title>PROXY WEBUI</title>
  </head>
  <body>
  Action completed successfully. You'll be redirected to the main page in a few seconds...
  <a href="/">Click here to get back to the main page.</a>
  <meta http-equiv="refresh" content="3; url=/" />
  </body>
</html>
