<html>
  <head>
    <title>PROXY WEBUI</title>
  </head>
  <body>
  <form action="/responses" method="post">
  File:<br>
  <input type="text" name="filename"><br> <!--- or file --->
  <input type="submit" value="Submit">
  </form>
  <br><a href="/">Click here to get back to the main page.</a>
  </body>
</html>


