<html>
  <head>
    <title>PROXY WEBUI</title>

  Welcome to Proxy! <br>
  </head>
  <body>
  Please select the action: <br><br> <!---cannot be done into a post method without java script---> 
   <li><a href="/features" style="color: black">List features</a></li>
   <li><a href="/downloadtasks" style="color: black">Download current saved list of tasks</a></li>
   <li><a href="/deletetasks" style="color: black">Delete current saved list of tasks</a></li> <!---potrebne kedze to len maze saved subor? ten sa prepisuje anyways..--->
   <li><a href="/deleteuuid" style="color: black">Delete (unsaved) task by uuid</a></li>
   <li><a href="/listtasks" style="color: grey">Display current (unsaved) list of tasks</a></li>
   <li><a href="/savetasks" style="color: black">Save current (unsaved) list of tasks</a></li>
   </font>
  </body>
</html>
