<html>
  <head>
    <title>PROXY WEBUI</title>

  Welcome to Proxy! <br>
  </head>
  <body>
  <p><%= @message %></p>
  Please select the action: <br><br> 
   <li><a href="/features" style="color: black">List features</a></li>
   <li><a href="/clear" style="color: black">Delete all tasks and responses</a></li> 
   <li><a href="/delete_by_uuid" style="color: black">Delete task by uuid</a></li>
   <li><a href="/tasks" style="color: black">Display current list of tasks</a></li>
   <li><a href="/file" style="color: black">Save current (unsaved) list of tasks</a></li>
   <li><a href="/preload" style="color: black">Preload tasks</a></li>
   <li><a href="/upload" style="color: black">Upload responses</a></li>
   <li><a href="/responselist" style="color: black">List available responses</a></li>
   </font>
  </body>
</html>
