<html>
  <head>
    <title>PROXY WEBUI</title>
  </head>
  <body>

<form action="/deletetaskuuid" method="post">
  First name:<br>
  <input type="text" name="uuid"><br>
  <input type="submit" value="Submit">
</form>





  <br><a href="/webui">Click here to get back to the main page.</a>

  </body>
</html>
