<html>
  <head>
    <title>FAKE PROXY WEBUI</title>

	<marquee>WELCOME TO WEBUI</marquee>
  </head>
  <body>

   <li><a href="/features">List features</a></li>
   <li><a href="/downloadtasks">Download current list of tasks</a></li>
   <li><a href="/deletetasks">Delete current list of tasks</a></li>
  </body>
</html>
